.main-template {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "logo heading" "sidebar main-content";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.logo {
    grid-area: logo;
}

.heading {
    grid-area: heading;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main-content;
}
